.page[mode=web] {
  position: relative;
  width: 100vw;
  height: 110vh;
  color: deepskyblue;
  background-color: #0F0F19;
}
.page[mode=mobile] {
  position: relative;
  width: 100vw;
  height: fit-content;
  color: deepskyblue;
  background-color: #0F0F19;
}



