body {
  margin: 0;
  padding: 0;
  overflow: scroll;
  background-color: rgb(30, 30, 34) !important;
  scrollbar-color: transparent transparent;
  scrollbar-track-color: transparent;
  -ms-scrollbar-track-color: transparent;
  background: linear-gradient(-33deg,transparent 50%,rgba(55,22,121,.3) 76%,rgba(55,22,121,.5) 90%,rgba(55,22,121,.7) 96%,#371679);
}

.indexBox{
   padding-top: 2vw;
   display: flex;
   justify-content: center;
   background: linear-gradient(33deg,transparent 50%,rgba(100,32,62,.3) 76%,rgba(100,32,62,.5) 90%,rgba(100,32,62,.7) 96%,#64203e);

}

.indexContent{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 89.6875vw;
  border-top-left-radius: 1.0417vw;
  border-top-right-radius: 1.0417vw;
  padding-top: 2.0833vw;
}





::-webkit-scrollbar {
  width: 0 !important;
}
::-webkit-scrollbar {
  display: none;
}


.bule{
  color: #66C966;
}


.flex-width{
  width: 100%;
  display: flex;
}


.flex-center{
  width: 100%;
  display: flex;
  justify-content: center;
}

.flex-align-center{
  width: 100%;
  display: flex;
  justify-content: center;
}



@media   (max-width: 1440) {
  html {
    transform: scale(0.8);
  }
}


@media   (max-width: 1280) {
  html {
    transform: scale(0.6);
  }
}


@media   (max-width: 1180) {
  html {
    transform: scale(0.4);
  }
}



.ant-input-number-input{
  height: 2.6042vw !important;
  text-align: right !important;
}

.ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub {
  color: rgba(255, 255, 255, 0.65);
  background: transparent !important;
}


.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  position: relative;
  background-color: transparent !important; 
  border: 1px solid transparent !important;
  border-radius: 2px;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.ant-select-dropdown{
  background-color: transparent !important; 
}

.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background-color: transparent !important; 
}

.ant-select-item{
  color: #fff !important;
}


.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  color: rgba(0, 0, 0, 0.85);
  font-weight: 600;
  background-color: transparent !important; 

}