#navigation[mode=web] {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 3.125vw;
  align-items: center;
}


#navigation[mode=web] .nav-content {
  width: 100%;
   display: flex;
   flex-wrap: wrap;
    align-items: center;
    color: #3F4140;
    font-family: DIN;
    z-index: 10;
    margin-left: 4.2708vw;
}



#navigation[mode=web] .nav-left{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


#navigation[mode=web] .nav-right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}



#navigation[mode=web] .nav-items {
  display: flex;
}

#navigation[mode=web] .nav-items .nav-item {
  display: flex;
  align-items: center;
  margin-left: 2.3438vw;
  width: fit-content;
  font-size: 0.9375vw;
  font-family: PingFang SC;
  font-weight: 400;
  color: #FFFFFF;
  cursor: pointer;
}

#navigation[mode=web] .nav-items .nav-active {
  color:  rgba(255, 255, 255, 1);
  font-family: PingFang SC;
  font-weight: bold;
}

#navigation[mode=web] .nav-search {
 width: 15.3125vw;
height: 1.9792vw;
margin-left: 9.4271vw;
background: #080808;
border: 1px solid #FFFFFF ;
border-radius: 0.9896vw;
display: flex;
align-items: center;
justify-content: center;
}


#navigation[mode=web] .img-search {
  width: 1.5625vw;
  height: 1.5625vw;
}

#navigation[mode=web] .nav-token {
  width: 5.3646vw;
  height: 2.0313vw;
  background: #282B33;
  border-radius: 1.0417vw;
  margin-left: 2.3438vw;
  display: flex;
  align-items: center;
}
#navigation[mode=web] .token_text{
   display: flex;
   width: 3.5417vw;
   justify-content: center;
   align-items: center;
   font-size: 0.9375vw;
    font-family: PingFang SC;
    font-weight: 400;
    color: #FFFFFF;
}

#navigation[mode=web] .token-select-text{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9375vw;
   font-family: PingFang SC;
   font-weight: 400;
   color: #FFFFFF;
   margin-right: 0.3646vw;
   margin-left: 0.3646vw;
}


#navigation[mode=web] .nav-token-select {
  display: flex;
  align-items: center;
  margin-left: 1.6667vw;
}


#navigation[mode=web] .nav-car {
  margin-left: 1.25vw;
}




#navigation[mode=web] .nav-search-img {
  width: 1.0938vw;
  height: 1.0938vw;
}

#navigation[mode=web] .nav-search-input {
  font-size: 0.9375vw;
  width: 12.625vw;
  font-family: PingFang SC;
  font-weight: 400;
  color: #FFFFFF;
  border: 0; 
  outline: none; 
  background-color: #0F0F19 !important;
}













.ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub {
  color: rgba(255, 255, 255, 0.65);
  background-color: rgba(0, 0, 0, 0.6) !important;
}

.ant-drawer-close {
  display: inline-block;
  margin-right: 12px;
  color: #ffff !important;
  font-weight: 700;
  font-size: 16px;
  font-style: normal;
  line-height: 1;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  background: #040506;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: color 0.3s;
  text-rendering: auto;
  }

.Icon_img-search {
  width: 1.0417vw ;
  height:20px;
  margin-right: 10px;
}
.Menuitem{
  display: flex;
  align-items: center;
}



.ant-drawer-header {
  border-bottom: 1px solid transparent !important;
}