
#pools_my_detail[mode="web"] {
  width: 100%;
  display: flex;
  margin-bottom: 6.6667vw;
  justify-content: center;
  margin-top: 1.7708vw;
}

.CPools_my_detailc_content{
  width: 53.2708vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.CPools_my_detailc_content_1{
  display: flex;
  align-items: center;
  width: 100%;
}


.CPools_my_detailc_content_1_text2{
  width: 5vw;
  height: 1.5625vw;
  background: #18191E;
  border: 1px solid #FFFFFF;
  border-radius: 0.7813vw;
  font-size: 18px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #FDFDFD;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-left: 3.75vw;
  margin-right: 8.5625vw
}



.CPools_my_detailc_content_1_but{
  width: 12.5521vw;
  height: 2.5521vw;
  background: #1F2127;
  font-size: 1.25vw;
  font-family: PingFang SC;
  font-weight: bold;
  color: #FCEFF7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CPools_my_detailc_content_2{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.CPools_my_detailc_content_2_box_2_1{
  font-size: 22px;
font-family: PingFang SC;
font-weight: bold;
color: #FCEFF7;
}

.CPools_my_detailc_content_2_box_1{
  width: 26.6146vw;
  height: 29.3229vw;
  background: #1F2127;
  border: 1px solid floralwhite;
  border-radius: 1.0417vw;
  display: flex;
  justify-content: center;
  align-items: center;
}


.CPools_my_detailc_content_2_box_2{
  width: 25.7292vw;
height: 29.3229vw;
background: #1F2127;
border: 1px solid floralwhite;
border-radius: 20px;
color: #FCEFF7;
padding: 10px;
}
.CPools_my_detailc_content_2_moeny{
  font-size: 2.5vw;
  font-family: PingFang SC;
  font-weight: bold;
  color: #FCEFF7;
}
.CPools_my_detailc_content_2_Liquidity{
  font-size: 22px;
  font-family: PingFang SC;
  font-weight: bold;
  color: #FCEFF7;
}



.CPools_my_detailc_img{
  width: 1.7188vw;
  height: 1.7188vw;
}

.CPools_my_detailc_content_1_text{
  font-size: 30px;
font-family: PingFang SC;
font-weight: bold;
color: #FDFDFD;
margin-left: 10px;
}



.CPools_my_detailc_content_2_position{
  width: 15.9896vw;
  height: 27.6042vw;
}

.CPools_my_detailc_content_2_box_2_box{
  width: 23.5417vw;
height: 5.4688vw;
background: #1F2127;
border: 1px solid #FFFFFF;
border-radius: 0.8333vw;
display: flex;
justify-content: space-around;
padding: 10px 0px 0px 42px;
flex-wrap: wrap;
}

.CPools_my_detailc_content_Unclaimed{
  margin-top: 3.8021vw;
  font-size: 1.1458vw;
  font-family: PingFang SC;
  font-weight: bold;
  color: #FCEFF7;
}

.CPools_my_detailc_content_2_box_2_1{
  width: 100%;
  display: flex;
}

.CPools_my_detailc_content_4{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.1979vw;
}

.CPools_my_detailc_content_4_img{
  width: 1.5625vw;
  height: 1.7708vw;
}

.CPools_my_detailc_content_4_max{
  width: 25.3125vw;
  height: 7.7604vw;
  background: #1F2127;
  border: 1px solid #FFFFFF;
  border-radius: 1.0417vw;
}

.CPools_my_detailc_content_4_min{
  width: 25.3125vw;
  height: 7.7604vw;
  background: #1F2127;
  border: 1px solid #FFFFFF;
  border-radius: 1.0417vw;
  font-size: 0.8333vw;
  font-family: PingFang SC;
  font-weight: 400;
  color: #F9FAFC;
 text-align: center;
 padding: 0.8208vw;
}



.CPools_my_detailc_content_5{
  width: 54.0625vw;
  height: 5.2604vw;
  background: #1F2127;
  border: 1px solid #FFFFFF;
  border-radius: 15px;
  margin-top:1.1458vw;
  text-align: center;
  padding-top: 1.021vw;
  color: #F9FAFC;
  font-size: 0.8333vw;
  font-family: PingFang SC;
  font-weight: 400;
  color: #F9FAFC;
}


.CPools_my_detailc_content_3{
  display: flex;
  font-size: 1.1458vw;
font-family: PingFang SC;
font-weight: bold;
color: #FCEFF7;
width: 100%;
margin-top: 2.3438vw;
}

.CPools_my_detailc_content_3_2_1{
display: flex;
align-items: center;
justify-content: space-between;
padding: 0.5208vw;
width: 6.3021vw;
height: 1.875vw;
background: #080808;
border: 1px solid #FFFFFF;
border-radius: 0.9375vw;
font-size: 0.7292vw;
}

.CPools_my_detailc_content_3_1{
  width: 50%;
  text-align: left;
}
.CPools_my_detailc_content_3_2{
  width: 50%;
 display: flex;
 align-items: center;
 justify-content: flex-end;
}