
#pools_detail[mode="web"] {
  width: 100%;
  color: aliceblue;
  display: flex;
  margin-bottom: 6.6667vw;
  justify-content: center
}


.Pools_detail_content{
  display: flex;
  width: 77.8646vw;
  justify-content: space-between;
  flex-wrap: wrap;
}


.Pools_detail_token_add{
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 3.125vw;
}



.Pools_detail_add{

  width: 9.8438vw;
height: 2.2917vw;
background: #2781FF;
border-radius: 15px;
 font-size: 0.9375vw;
 font-family: PingFang SC;
 font-weight: 400;
 color: #FFFFFF;
 display: flex;
 justify-content: center;
 align-items: center;
 margin-left: 48.9688vw;
}


.Pools_detail_logo_img{
  width: 2.7083vw;
  height: 2.7083vw;
  border-radius: 50%;
}

.Pools_detail_token_name{
  font-size: 2.0833vw;
  font-family: PingFang SC;
  font-weight: 400;
  color: #FDFDFD;
  margin-left: 1.0938vw;
}

.Pools_detail_tokens{
  width: 19.3229vw;
  background: #1F2127;
  border: 1px solid  #FFFFFF;
  border-radius: 1.0417vw;
  margin-top: 1.7708vw;
}

.Pools_detail_tokens_charts{

  margin-top: 1.7708vw;
  width: 57.3438vw;
  background: #1F2127;
  border: 1px solid #FFFFFF;
  border-radius: 1.0417vw;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  padding:1.8229vw 1.4063vw  2.3438vw 0.9896vw ;


}

.Pools_detail_tokens_chart{
  width: 55.2083vw;
  height: 19.5313vw;
  margin-top: 1.875vw;
  background-color: #40444F;
  background-image: url("../../assets/img/chearts.png");
  background-size:100% 100%;  
}

.Pools_detail_tokens_charts_but_box{
  width: 16.1458vw;
  height: 1.6146vw;
  background: #40444F;
  border-radius: 0.8333vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size:0.8333vw;
  font-family: PingFang SC;
  color: #FEFEFE;
  font-size: 0.8333vw;
font-family: PingFang SC;
font-weight: bold;
color: #FEFEFE;
  
}


.Pools_detail_tokens_charts_but_box_bt{
  width: 5.0521vw;
  height: 1.25vw;
  display: flex;
  align-items: center;
  justify-content: center;
}



.Pools_detail_tokens_charts_text{
  display: flex;
  align-items: center;
  width: 100%;
justify-content: space-between;
}

.Pools_detail_tokens_charts_money{
  font-size: 1.5625vw;
  font-family: PingFang SC;
  font-weight: bold;
  color: #FEFEFE;
  margin-left: 0.5208vw;
}


.Pools_detail_tokens_locked_num{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 0.7813vw;

  
}



.Pools_detail_tokens_locked_box{
  width: 17.3438vw;
  height: 13.8542vw;
  background: #121216;
  border-radius: 1.0417vw;
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
  padding-top: 2.1875vw;
}

.Pools_detail_tokens_locked_box_text{
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 1.3542vw;
font-family: PingFang SC;
font-weight: bold;
color: #FDFDFD;

}

.Pools_detail_tokens_locked_box_total{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-left: 2.8646vw;
  padding-right: 2.8646vw;
}

.Pools_detail_tokens_locked_box_total_1{
  text-align: center;
}
.Pools_detail_tokens_locked_box_total_2{
  text-align: center;
}


.Pools_detail_tokens_locked_box_text1{
  font-size: 1.0417vw;
  font-family: PingFang SC;
  font-weight: bold;
  color: #FFFFFF;
  margin-left: 2.3958vw;
  width: 100%;
  display: flex;
  margin-top: 1.1021vw;
}


.Pools_detail_tokens_locked_box_text2{
  font-size: 1.5625vw;
  font-family: PingFang SC;
  font-weight: bold;
  color: #FEFEFE;
  margin-left: 2.3958vw;
  width: 100%;
  display: flex;
 
}



.Pools_detail_tokens_locked_box_text3{
  font-size: 0.9375vw;
  font-family: PingFang SC;
  color: #248A50;
  width: 100%;
  margin-left: 2.3958vw;
  display: flex;
  margin-top: 0.5813vw;
}


.Pools_detail_tokens_locked_box_text4{
  font-size: 1.0417vw;
  font-family: PingFang SC;
  font-weight: bold;
  color: #FEFEFE;
  width: 100%;
  margin-left: 2.3958vw;
  display: flex;
  margin-top: 1.0229vw;
}


.Pools_detail_tokens_locked_box_text5{
  font-size: 1.5625vw;
  font-family: PingFang SC;
  font-weight: bold;
  color: #FEFEFE;
  width: 100%;
  margin-left: 2.3958vw;
  display: flex;

}

.Pools_detail_token_transactions_list{
  width: 78.2292vw;
  background: #1F2127;
  border: 1px solid FFFFFF;
  border-radius: 1.0417vw;
  padding: 0vw 0px 0px 2.1875vw;
  margin-top: 1.1979vw;
}


.Pools_detail_token_transactions_list_header{
  font-size: 1.0417vw;
  height: 6.0417vw;
  font-family: PingFang SC;
  font-weight: 400;
  color: #FDFDFD;
  display: flex;
  align-items: center;
  border-bottom: 2px solid  #000000;
}



.Pools_detail_token_transactions_list_item{
  font-size: 1.0417vw;
  font-family: PingFang SC;
  height: 4.2188vw;
  font-weight: 400;
  color: #FDFDFD;
  display: flex;
  align-items: center;
  border-bottom: 2px solid  #000000;

}

.Pools_detail_token_transactions_list_page{
  width: 100%;
  height: 4.8438vw;
  background: #1F2127;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Pools_detail_token_transactions_list_page_text{
  font-size: 1.25vw;
font-family: PingFang SC;
font-weight: 400;
color: #FDFDFD;
margin-left: 2.2917vw;
margin-right: 2.2917vw;

}





.Pools_detail_token_transactions{
  font-size: 2.5vw;
font-family: PingFang SC;
font-weight: 400;
color: #FDFDFD;margin-left: 1.9792vw;
margin-top: 4.1667vw;
}