 {
  width: 100%;
  display: flex;
  margin-bottom: 1.5625vw;
}


 .home-nft{
  width: 100%;
  font-size: 4.3229vw;
  font-family: PingFang SC;
  font-weight: bold;
  color: #FDFCFD;
  display: flex;
  justify-content: center;
  background: linear-gradient(0deg, #eec6ee 0%, #d57aa4 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.home-the{
  font-size: 5.4167vw;
font-family: PingFang SC;
font-weight: bold;
color: #FFFFFF;
width: 100%;
display: flex;
background: linear-gradient(0deg, #eec6ee 0%, #d57aa4 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
justify-content: center;
}


  .mid-items{
  width: 100%;
  display: flex;
  justify-content: center;

}


 .mid-item{
  width: 15.5729vw;
  height: 2.3958vw;
  background: #7b7c81;
  border-radius: 0.2604vw;
  display: flex;
  align-items: center;
}


 .mid-item-logo{
  width: 1.6146vw;
  height: 1.6146vw;
  border-radius: 0.2604vw;
  margin-left: 1.7188vw;
  margin-right: 0.5729vw;
}

 .mid-item-text{
  font-size: 1.5625vw;
  font-family: PingFang SC;
  font-weight: bold;
  color: #FFFFFF;
}


.nft-list{
  width: 100%;
  margin-top: 6.7708vw;
  display: flex;
  justify-content: space-between;
   padding: 0vw 9.8958vw 0vw 9.8958vw;
}



 .nft-list-item{
  width: 15.625vw;
  height: 20.0521vw;
  background: linear-gradient(0deg, #eec6ee 0%, #f0abcb 100%);
  border: 1px solid  #4D4D4D;
  border-radius: 0.5208vw;
  display: flex;
  justify-items:center;
  flex-wrap: wrap;
  margin-right: .625rem;
}


 .nft-logo{
  width: 7.3438vw;
  height: 7.3438vw;
  position: relative;
  top:-3.2292vw;
  left:4.1146vw ;
  border-radius: 50%;
}

 .nft-name{
width: 15.7292vw;
margin-top:-3.2292vw;
height: 2.4479vw;
background: #635f5f;
display: flex;
justify-content: center;
align-items: center;
font-size: 1.25vw;
font-family: PingFang SC;
font-weight: bold;
color: #FFFFFF;
}


.nft-zx{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}


.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}


.nft-up{
  width: 1.5104vw;
  height: 1.5104vw;;
  margin-right: 0.5208vw;
}

.nft-up-text{
  font-size: 1.5625vw;
font-family: PingFang SC;
font-weight: bold;
color: #51e95e;
}


.nft-down-text{
  font-size: 1.5625vw;
font-family: PingFang SC;
font-weight: bold;
color: #D80606;
}


.nft-eth{
  width: 1.1979vw;
  height: 1.1979vw;
}
.nft-eth-text{
  font-size: 1.0417vws;
  font-family: PingFang SC;
  font-weight: bold;
  color: #2c2a2a;
  margin-left: 0.5208vw;
}


.nft-eth-text-b{
  font-size: 1.0417vw;
font-family: PingFang SC;
font-weight: bold;
color: #51e95e;
}




.nft-eth-text2{
  font-size:1.0417vw;
  font-family: PingFang SC;
  font-weight: bold;
  color: #434649;
}












